.navbar {
    background-color:#cce5ff;
}

.container{
    margin-top: 6em;
}

list img{
    max-height: 50px;
}

a.btn{
    margin-top: 7px;
    margin-bottom: 7px;
}

.card{
    margin:15px;
}

.card img {
    max-height: 64px;
    max-width: 500px;
}


.jumbotron{
    background-color: aliceblue;
}


#normalimg{
    max-height: 512px;
    max-width: 512px;
}


.card .href{
    cursor: pointer;
}

.jumbotron .href{
    cursor: pointer;
}
