<%- include("../partials/header") %>



    <div class="container">

        <div class="card">
            <div class="card-header">註冊帳號</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <form action="/register" method=POST>
                            <div class="form-group">
                                <label>欲註冊之帳號</label>
                                <input type="text" name="username" placeholder="username" class="form-control">
                                <label>密碼</label>
                                <input type="password" name="password" placeholder="password" class="form-control">
                                <button type="submit" class="btn btn-primary">註冊</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <%- include("../partials/footer") %>