<%- include("../partials/header") %>



    <div class="container">

        <div class="card">
            <div class="card-header">註冊帳號</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <form action="/register" method=POST>
                            <div class="form-group">
                                <label>欲註冊之帳號</label>
                                <input type="text" name="username" placeholder="username" class="form-control">
                                <label>密碼</label>
                                <input type="password" name="password" placeholder="password" class="form-control">
                                <input type="button" value="註冊" onclick="registerUserAsync()"
                                    class="btn btn-secondary">

                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>



    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.11.0/qs.min.js"></script>

    <script>

        function getApplyForm() {
            return $("form")[0];
        }

        async function testApiAsync() {
            const res = await axios.get("../api/users?u=tester");
            console.log(res.data.message);
        }

        async function registerUserAsync() {
            try {
                const postData = {
                    username: getApplyForm().username.value,
                    password: getApplyForm().password.value,
                };
                const res = await axios.post(
                    "../api/users",
                    Qs.stringify(postData)
                );
                globalThis.location = res.data.goto;
            }
            catch (e) {
                alert(`error occurs:${e.message}`)
            }
        }
    </script>



    <%- include("../partials/footer") %>